html {
	background-color: SkyBlue;
 }
header {
  text-align: center;
  font-family: "Apple Chancery", cursive;
}
body {
	text-align: center;
	font-family: "Apple Chancery", cursive;
	text-align: center;
	color: black;
}
img {
	width:100%;
	margin:0;
}
