html {
	background-color: SkyBlue;
 }
header {
  text-align: center;
  font-family: "Apple Chancery", cursive;
}
body {
	text-align: center;
	font-family: "Apple Chancery", cursive;
	text-align: center;
	color: black;
}
img {
   max-width:100%;
   height:auto;
   max-height:100%;
}
